.bi-star-fill{
    color: rgb(253, 163, 51);
}

.img-fluid{
    height: 100%;
}

.font-small{
    font-size: small;
}

.font-large{
    font-size: large;
}

a.a-none, a.a-none:hover{
    color: black;
    text-decoration: none;
}